.insideBoard {
    border: 1px solid #000;
    display: flex;
    width: 436px;
	height: 436px;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: space-around;
}

#chars, #chars2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 18px;
    justify-content: space-around;
}

.num {
	width: 18px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.item {
	width: 50px;
	height: 50px;
    outline: 1px solid #000;
}

.black {
	background: #000;
}

.white {
	background: #fff;
}

.whiteChess {
    color: #fff;
    text-align: center;
    margin-top: 11px;
    font-size: 30px;
    text-shadow: 
        -0   -1px 0   #000,
         0   -1px 0   #000,
        -0    1px 0   #000,
         0    1px 0   #000,
        -1px -0   0   #000,
         1px -0   0   #000,
        -1px  0   0   #000,
         1px  0   0   #000,
        -1px -1px 0   #000,
         1px -1px 0   #000,
        -1px  1px 0   #000,
         1px  1px 0   #000,
        -1px -1px 0   #000,
         1px -1px 0   #000,
        -1px  1px 0   #000,
         1px  1px 0   #000;
}

.blackChess {
    color: #000;
    text-align: center;
    margin-top: 11px;
    font-size: 30px;

    text-shadow: 
        -0   -1px 0   #fff,
         0   -1px 0   #fff,
        -0    1px 0   #fff,
         0    1px 0   #fff,
        -1px -0   0   #fff,
         1px -0   0   #fff,
        -1px  0   0   #fff,
         1px  0   0   #fff,
        -1px -1px 0   #fff,
         1px -1px 0   #fff,
        -1px  1px 0   #fff,
         1px  1px 0   #fff,
        -1px -1px 0   #fff,
         1px -1px 0   #fff,
        -1px  1px 0   #fff,
         1px  1px 0   #fff;
}